version: '3' 

services:
  mongo: 
    image: mongo
    ports:
      - "27017:27017"

  angular:
    build: .\angular-frontend
    ports:
      - "4200:4200" 

  nodexpress:
    build: .\node-mongo-backend 
    ports:
      - "4000:4000"
    restart: always
    depends_on:
      - mongo
